.header {
    padding: 50px 0px;
    ._logo {
        float: left;
    }
    ._nav {
        float: right;        
        .-list {
            padding: 20px 0 20px 0;
            text-align: left;
            .-item {
                display: inline-block;
                &:hover .-list {
                    display: block;
                }
                .-link {
                    padding: 0 10px 0 10px;
                    color: #000000;
                    text-decoration: none;
                }
                .-list {
                    position: absolute;
                    display: none;
                    .-item {
                        display: block;
                        .-link {
                            @include text(12);
                        }
                    }
                }
            }
            .--border {
                .-link {
                    @include title(18);
                }
                &::after {
                content: "";
                display: block;
                margin: 10px 10px;
                width: 20px;
                height: 2px;
                background-color: #000000;
                }
            }
        }
    }
    ._search {
        float: right;
    }
    ._login {
        float: right;
    }
}
