.headlines {
    padding: 60px 0;
    ._nav {
        float: left;
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        .-previous {
            border: 2px solid #332;
            width: 40px;
            height: 50px;
            padding: 0 30px 0 20px;
            border-radius: 3px;
            background: rgba($color: #000000, $alpha: 0);
            cursor: pointer;
            color: #000000;
            text-align: left;
        }
        .-next {
            border: 2px solid #332;
            width: 40px;
            height: 50px;
            padding: 0 30px 0 20px;
            border-radius: 3px;
            background: rgba($color: #000000, $alpha: 0);
            cursor: pointer;
            color: #000000;
            margin-left: -5px;
        }
    }
    ._title {
        font-family: $primary-font;
        font-size: 1.3em;
        line-height: 1em;
        float: left;
        position: relative;
        margin-top: 35px;
        .link {
            text-decoration: none;
            color: #000000;
        }
    }
    ._sub-title {
        font-family: $secondary-font;
        font-size: 0.875em;
        line-height: 1em;
        float: left;
        clear: left;
        position: relative;
        
    }
    ._list {
        display: block;
        position: relative;
        clear: both;
        .-item {
            height: 400px;
            position: relative;
            .-image {
                width: 100%;
                height: 250px;
                border-radius: 5px;
                background-color: #483670;
                display: block;
            }
            .-title {
                @include title(18);
                text-align: center;
                .-link {
                    color: #000000;
                    text-decoration: none;
                }
            }
            .-date {
                font-family: $secondary-font;
                font-size: 0.8em;
                text-align: center;
                margin: 30px auto;
                display: block;
            }
        }
    }
}